<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <script src="../static/button.js"></script>
    <script src="../static/common.js"></script>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div class="login-container">
        <h1>Welcome, We Are <span class="team-todo">"TeamToDo"</span></h1>
        <form class="login-form">
            <div class="input-group">
                <label for="username">ID</label>
                <input type="text" id="id" placeholder="id">
            </div>
            <div class="input-group">
                <label for="password">PASSWORD</label>
                <div class="password-container">
                    <input type="password" id="password" placeholder="password">
                    <span class="password-toggle">&#128065;</span>
                </div>
            </div>
            <button id="login" onclick="getLogin()" disabled ><b>login</b></button>

            <p class="signup-prompt">계정이 없으신가요? <a href="signup.html">회원가입</a></p>
        </form>
    </div>
    
</body>
</html>
