<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <script type="text/javascript" src="{{ url_for('static', filename='button.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>Welcome, We Are <span class="team-todo">"TeamToDo"</span></h1>

        <form class="login-form" method="POST" action="{{ url_for('login') }}">
            <div class="input-group">
                <label for="username">ID</label>
                <input type="text" id="username" name="username" placeholder="id">
            </div>
            <div class="input-group">
                <label for="password">PASSWORD</label>
                <div class="password-container">
                    <input type="password" id="password" name="password" placeholder="password">
                    <span class="password-toggle">&#128065;</span>
                </div>
            </div>
            <button type="submit" id="login" disabled><b>login</b></button>
            <p class="signup-prompt">계정이 없으신가요? <a href="{{ url_for('signup') }}">회원가입</a></p>
        </form>
    </div>
</body>
</html>
