body {
    font-family: Arial, sans-serif;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
    background-image: url(universe.jpg);
}

/* clear 활용 */
header, footer { 
    clear: both; 
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 0;
    margin: 0;
}

/* float left 활용 */
nav { 
    float: left; 
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 10px 0;
    margin: 0;
}
main {
    text-align: center;
    background-color: rgba(0, 0, 0,0.5);
    padding: 20px 0;
    margin: 0 auto; 
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

nav a:hover { /* Pseudo-class 1 */
    text-decoration: underline; 
}



form {
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 80%;
}

/* Attribute selector 1 2 3 */
form input[type="text"], form select, form button, form input[type="date"], form input[type="radio"] { 
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

form input[type="text"]:focus { /* Pseudo-class 2 */
    border-color: blue;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
    background-color : white;
}

th:first-child { /* Combinator 1 */
    background-color: lightblue;
}

tr:nth-child(even) { /* Pseudo-class 3 */
    background-color: #f2f2f2;
}

.clearfix::after { /* Pseudo-element 1 */
    content: "";
    display: table;
    clear: both;
}

.custom::before { /* Pseudo-element 2 */
    content: "⭐";
    padding-right: 5px;
}

header + nav { /* Combinator 2 */
    border-top: 2px solid white;
}

nav ~ main { /* Combinator 3 */
    border-top: 2px solid lightgray;
}

/* Flex 하게 정렬 활용 */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.flex-container button {
    height: 100px;
    width: 40%;
}


/* 모바일 환경 대응 스타일 */
@media only screen and (max-width: 900px) {
    main {
        width: 90%;
        padding: 10px;
    }

    form {
        width: 100%;
        box-sizing: border-box;
    }

    nav {
        padding: 5px 0;
    }

    nav a {
        display: block;
        margin: 5px 0;
    }

    table, th, td {
        width: 100%;
    }


    .flex-container {
        flex-direction: column;
    }

    .flex-container button {
        height: 50px;
        width: 80%;
    }
}
